<canvas style="display:block" #cube_editor></canvas>
<div class="top-left"></div>
<div class="top-right">
  <div class="row">

    <div class="col-12"><button (click)="expandCube()" class="btn btn-primary float-right m-2 w-100"><i class="fa fa-arrow-alt-circle-up"></i> Expand </button></div>
    <div class="col-12"><button (click)="contractCube()" class="btn btn-primary float-right m-2 w-100"><i class="fa fa-arrow-alt-circle-down"></i> Contract </button></div>


  </div>

</div>
<div class="bottom-left"></div>
<div class="bottom-right"></div>
